// custom color

$primary: #9700c9;
$secondary: #cc2b5e;
$accordion-icon-color: $primary;
$accordion-icon-active-color: $primary;
// accordien
$accordion-button-icon: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='#{$accordion-icon-color}'><path d='M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z'/><path fill-rule='evenodd' d='M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z'/></svg>");
$accordion-button-active-icon: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='#{$accordion-icon-active-color}'><path d='M4 8a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7A.5.5 0 0 1 4 8z'/><path fill-rule='evenodd' d='M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z'/></svg>");

$custom-colors: (
  "orange": #f83600,
);
@import "../../node_modules/bootstrap/scss/functions";
@import "../../node_modules/bootstrap/scss/variables";

// Merge the maps
$theme-colors: map-merge($theme-colors, $custom-colors);
@import "../../node_modules/bootstrap/scss/bootstrap.scss";

// import app
@import "./utilities";
@import "./mixins/mixins";
@import "./fonts";
@import "./components/buttons";
@import "./components/heading-line";
@import "./sections/header";
@import "./sections/intro";
@import "./sections/services";
@import "./sections/comments";
@import "./sections/faq";
@import "./sections/portfolio";
@import "./sections/footer";
